	<div class="card gray">
		<h2><%= provider.name %></h2>
		<h3><%= provider.type.name %></h3>
		<small><em><p><%= truncate(provider.description, length: 150, separator: " ") %></p></em><br>

		<p><%= provider.address %></p>
		<p><%= provider.city %>, <%= provider.province %>,&nbsp;&nbsp;<%= provider.postal_code %></p>
		<p><%= provider.phone_number %></p>
		<p><%= provider.user.email %></p>
		<p><%= provider.website %></p></small> <br>

		<% if @user && ( !(provider == @user.provider) && @user.client ) %>
		  <%= link_to button_tag("Book appointment", class: "light"), new_provider_appointment_path(provider) %>
	  <% elsif @user && (provider == @user.provider) %>
	  	<p class="dark-font">This is you!</p>
		<% end %>

	</div>