<h1 class="h-full light">Choose a provider for your appointment

	<%= form_tag :providers, id: "filter-form" do %>
		<%= text_field_tag :filter, nil, placeholder: "Filter providers" %>
		<%= select_tag 'property', options_for_select(["name","city", "description"]) %>
		<%= select_tag 'type', options_from_collection_for_select(@types, 'id', 'name') %>
	<% end %>

</h1>

	<% if !@user %>
		<div id="signed-out-notice">
			You need to have an account to make appointments: <%= link_to "Create an account", new_user_path %>
		</div>
	<% elsif @user && @user.client.nil? %>
		<div id="signed-out-notice">
			You need to <%= link_to "create a client profile", new_user_client_path(@user) %> to make an appointment.
		</div>
	<% end %>

<div class="card-wrapper">

	<div id='providers'>
		<%= render @providers %>
		<div class="card spacer"></div>
		<div class="card spacer"></div>
		<div class="card spacer"></div>
	</div>

</div>

<%= paginate @providers %>