
<h1 class="h-full light">Provider: <%= @provider.name %> | <%= @provider.type.name %></h1>

<div class="form-wrapper">
<p><strong>Contact Information:</strong></p><br>
<p><strong>Address: </strong><%= @provider.address %></p>

<p><strong>Postal code: </strong><%= @provider.postal_code %></p>

<p><strong>City: </strong><%= @provider.city %></p>

<p><strong>Province: </strong><%= @provider.province %></p><br>




<br>
<%= link_to 'Back', root_path %>
</div>