<p><%= @user.client.name %></p>
<p><%= @user.client.address %></p>
<p><%= @user.client.postal_code %></p>
<p><%= @user.client.city %></p>
<p><%= @user.client.province %></p>
<p><%= @user.client.phone_number %></p>

<%= link_to "Edit", edit_user_client_path(@user, @user.client) %> |
<%= link_to "Delete", user_client_path(@user, @user.client), confirm: "Are you sure you want to delete #{@user.client.name}?", method: :delete %>