<h1 class="h-full light">Dashboard</h1>

<div class="card-wrapper">

	<div class="card gray">
		<em><h2>My Account</h2>
		<p>This is your user account.</p></em> <br>
		<p><strong>Email: </strong><%= @user.email %></p>
		<p><strong>Username: </strong><%= @user.username %></p>
		<p><strong>Password: </strong>********</p><br>
		<%= link_to 'Edit', edit_user_path(@user) %> 

	</div>
	
	<div class="card gray">
		<em><h2>My Client profile</h2>
		<p>This profile lets you book appointments with others on the site.</p></em> <br>
		<% if @user.client.nil? %>
			<%= link_to button_tag("Add a client profile"), new_user_client_path(@user) %>
		<% else %>
			<%= render 'show_client' %>
		<% end %>
	</div>

	<div class="card gray">
		<em><h2>My Provider Profile</h2>
		<p>This profile lets others book appointments with you.</p></em><br>
		<% if @user.provider.nil? %>
			<%= link_to button_tag("Add a provider profile"), new_user_provider_path(@user) %>
		<% else %>
			<%= render 'show_provider' %>
		<% end %>
	</div>

	<% unless @user.provider.nil? %>

		<div class="card gray">
			<em><h2>My Provider Availability</h2>
			<p>These availabilities will be shown to your clients</p></em><br>

			<% wdays.each do |d| %>
				<% dx = @user.provider.availabilities.find_by_day(d[0]) %>
					<strong><%= d[1].capitalize %></strong>: 
					<% if dx.start_time.nil? %>
						<span class="inactive">not available</span>
					<% else %>
						<%= format_time(dx.start_time) %> to
						<%= format_time(dx.end_time) %>
					<% end %>
				<br>
			<% end %>
			<br>
			<%= link_to "Edit", user_provider_availabilities_path(@user, @user.provider) %>
		</div>
	<% end %>
	<div class="card spacer"></div>
	<div class="card spacer"></div>
</div>
