<h1 class="h-full light">Dashboard</h1>

	<div class="light user-profile">
		<em><h2>Basic profile</h2></em>
		<p><strong>Email:</strong><%= @user.email %></p>
		<p><strong>Username:</strong><%= @user.username %></p><br>
		<%= link_to 'Edit', edit_user_path(@user) %>
	</div>

<div class="profile-wrapper">
	<div class="card light">
		<em><h2>Client profile</h2>
		<p>This profile lets you book appointments with others on the site.</p></em> <br>
		<% if @user.client.nil? %>
			<%= link_to button_tag("Add a client profile"), new_user_client_path(@user) %>
		<% else %>
			<%= render 'show_client' %>
		<% end %>
	</div>

	<div class="card light">
		<em><h2>Provider Profile</h2>
		<p>This profile lets others book appointments with you.</p></em><br>
		<% if @user.provider.nil? %>
			<%= link_to button_tag("Add a provider profile"), new_user_provider_path(@user) %>
		<% else %>
			<%= render 'show_provider' %>
		<% end %>
	</div>
</div>
