<%= form_for([@provider, @appointment]) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry, we can't schedule your appointment because:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg.gsub("Start datetime ","") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_datetime, "Appointment start time" %><br>
    <%= f.datetime_select :start_datetime, ampm: true, minute_step: 15, start_year: Time.now.year %>
  </div>
  <div class="field">
    <%= label_tag :duration, "Appointment Length" %><br>
    <%= select_tag :duration, options_for_select(appoint_lengths, 1) %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
