<h1>Here are your appointments</h2>


<h2>Client Appointments</h2>
<% @i_am_client_appointments.each do |appointment| %>
	
	<div class="card">
	
	<p><%= appointment.provider.name %></p>
	<p><%= appointment.reason %></p>
	<p><%= appointment.start_datetime %></p>
	<p><%= appointment.end_datetime %></p>
	<p><%= appointment.description %></p>
	<p><%= link_to "Edit", edit_user_appointment_path(@user, appointment) %> |
		<%= link_to "Delete", user_appointment_path(@user, appointment), confirm: "Are you sure you want to delete your appointment?", method: :delete %>
	</p>
	</div>

<% end %>


<h2>Provider Appointments</h2>
<% @i_am_provider_appointments.each do |appointment| %>
	
	<div class="card">
	
	<p><%= appointment.client.name %></p>
	<p><%= appointment.reason %></p>
	<p><%= appointment.start_datetime %></p>
	<p><%= appointment.end_datetime %></p>
	<p><%= appointment.description %></p>

	<p><%= link_to "Edit", edit_user_appointment_path(@user, appointment) %> |
		<%= link_to "Delete", user_appointment_path(@user, appointment), confirm: "Are you sure you want to delete your appointment?", method: :delete %>
	</p>

	</div>

<% end %>
