<p id="notice"><%= notice %></p>

<p>
  <strong>Start datetime:</strong>
  <%= @appointment.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @appointment.end_datetime %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @appointment.provider_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @appointment.client_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
