
<% if @availability && @availability.errors.any? %>
  <div id="error_explanation">
    <h2>Sorry, we can't schedule your availability on <%= Availability::WDAYS[@availability.day][0] %> because:</h2>

    <ul>
    <% @availability.errors.full_messages.each do |msg| %>
      <li><%= msg.gsub("Start time ","") %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% @availabilities.each do |a| %>

	<% if @availability && a.id == @availability.id %>
		<% a = @availability %>
	<% end %>

	<%= form_for [@user, @provider, a], remote: true do |f|%>

		<h3><%= Availability::WDAYS[a.day][0] %></h3>
		<p>
			<%= f.label "Start Time" %>
			<%= f.select :start_time, options_for_select(ftime, a.start_time ) %>
		</p>
		<p>
			<%= f.label "End Time" %>
			<%= f.select :end_time, options_for_select(ftime, a.end_time) %>
		</p>
			<%= token_tag nil %>
			<p><%= f.submit "Update" %></p><br>
	<% end %>
<% end %>
<br>
<%= link_to "Done", user_path(@user) %>

