<!DOCTYPE html>
<html class="v-full">
<head>
  <title>OpenBooking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
</head>
  <body class="h-full v-full">


  <!-- FLASH NOTICE -->
  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:success] %>
    <div id="success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>


  <nav class="container h-full dark">

    <%= link_to "OpenBooking", root_path, class: "logo" %>

    <ul class="left-nav">
      <li><%= link_to "Book an Appointment", root_path %></li>
      <!-- <li><%= link_to "Categories", root_path %></li> -->

      <% if current_user %>
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "My Appointments", user_appointments_path(current_user)%></li>
      <% end %>

    </ul>
    
    <div class="login dark">

      <% if current_user %>
        <strong><%= "Hello #{current_user.username}" %></strong>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Logout", :logout, method: :post %>
      
      <% else %>
        <%= form_tag user_sessions_path, :method => :post do %>
          <div class="field">
            <%= text_field_tag :username, nil, placeholder: "Username" %>
          </div>
          <div class="field">
            <%= password_field_tag :password, nil, placeholder: "Password" %>
          </div>
          <div class="field">
          <%= label_tag "Remember Me?" %>
          <%= check_box_tag :remember %>
          </div>
          <div class="actions">
            <%= submit_tag "Login" %>
          </div>
        <% end %>
        
        <div class="container register">
          <%= link_to "(No Account?)", new_user_path %>
        </div>

      <% end %>
    </div>
  </nav>
  
  <main class="container">

    <%= yield %>

  </main>


  </body>
</html>