<!DOCTYPE html>
<html class="v-full">
<head>
  <title>OpenBooking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body class="h-full v-full">

  <nav class="container h-full dark">
    <div class="login h-full">
      <% if current_user %>
        <%= "Hello #{current_user.username}" %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
        <%= link_to "Logout", :logout, method: :post %>
      <% else %>
        <%= form_tag user_sessions_path, :method => :post do %>
          <div class="field">
            <%= text_field_tag :username, nil, placeholder: "Username" %>
          </div>
          <div class="field">
            <%= password_field_tag :password, nil, placeholder: "Password" %>
          </div>
          <div class="field">
          <%= label_tag "Save" %>
          <%= check_box_tag :remember %>
          </div>
          <div class="actions">
            <%= submit_tag "Login" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
        No account? <%= link_to "Register", new_user_path %>
    </div>
  </nav>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <main>

    <%= yield %>

  </main>
  </body>
</html>